@mixin bare-panel(){
  padding: $column-gutter;
  background-color: $white;
  border-radius: $global-radius;
  margin-bottom: $column-gutter;
  @include box-shadow(1px 1px 10px 1px rgba(0, 0, 0, 0.1));
}

/* structure layout */
body{
  background-color: $snow;
  font-family: 'Poppins', sans-serif !important;

  div:focus{
    outline: none;
  }

  .alert.alert-info{
    background-color: $turquoise-light;
    border-radius: $global-radius;
  }

  #main-outlet{
    padding: $column-gutter;
    padding-top: $header-height + $column-gutter;
  }

  // control pane under header
  .list-controls{
    padding: $column-gutter;
    background-color: $white;
    border-radius: $global-radius;
    margin-bottom: $column-gutter;
    @include box-shadow(1px 1px 10px 1px rgba(0, 0, 0, 0.1));
    .btn
      margin-bottom: 0;
      margin-right: 4px;
    .navigation-container{
      display: flex;
      align-items: center;
      .category-breadcrumb, #navigation-bar, #create-topic{
        margin-bottom: 0;
      }
      #create-topic{
        margin-left: auto;
      }
      .select-kit.single-select button{
        margin: 0 4px 0 0;
      }
    }
  }

  // main post container
  .container.list-container{
    @include bare-panel;
    #list-area{
      margin-bottom: $column-gutter;
    }
  }

  // blog show container
  #main-outlet.wrap{
    > .ember-view.regular:nth-child(3){
      @include bare-panel;
    }
  }

  // review page
  #main-outlet.wrap{
    > .reviewable:nth-child(3){
      @include bare-panel;
    }
  }

  // user show page
  .user-main{
    @include bare-panel;
    .user-content-wrapper{
      .user-primary-navigation .user-nav{
        margin-bottom: 0;
      }
    }
  }

  // user index page
  &.users-page #main-outlet > section.ember-view:nth-child(3){
    @include bare-panel;
  }

  // search page
  &.search-page #main-outlet, &.staff #main-outlet{
    > section.ember-view:nth-child(3){
      @include bare-panel;
    }
    .google-search-form form{
      display: flex;
      align-items: center;
      input, button{
        margin-bottom: 0;
      }
      button{
        margin-left: 4px;
      }
    }
    .search-advanced-sidebar{
      border-radius: $global-radius;
      .search-advanced-title{
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;
      }
      .search-advanced-filters{
        border-bottom-left-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
        .full-search-dates #postTime{
          margin-bottom: 4px;
        }
        .ac-wrap{
          border-radius: $global-radius;
          border-color: $border-color;
        }
      }
    }
  }

  // message show page
  &.staff #main-outlet > .ember-view.private_message:nth-child(3){
    @include bare-panel;
  }

}
