// btn base
// --------------------------------------------------
@mixin btn(
  $text-color: $primary,
  $bg-color: $turquoise-light,
  $icon-color: $primary,
  $hover-text-color: $primary,
  $hover-bg-color: darken($turquoise-light, 5%),
  $hover-icon-color: $primary
) {
  display: inline-block;
  // @include flex;
  margin: 0;
  // padding: 10px 20px;
  // min-height: $form-input-height;
  border: none;
  border-radius: $global-radius;
  box-sizing: border-box;
  font-weight: normal;
  color: $text-color;
  background: $bg-color;
  font-size: $font-0;
  line-height: $line-height-small;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
  outline: none;
  .d-icon {
    color: $icon-color;
    margin-right: 0.45em;
    transition: color 0.25s;
    line-height: $line-height-medium; // Match button text line-height
  }
  &.no-text {
    .d-icon {
      margin-right: 0;
    }
  }
  @include hover {
    background: $hover-bg-color;
    color: $hover-text-color;
    .d-icon {
      color: $hover-icon-color;
    }
  }
  &[href] {
    color: $text-color;
  }
  &:active,
  &.btn-active {
    @include linear-gradient(
      scale-color($bg-color, $lightness: -20%),
      $bg-color
    );
  }
  &[disabled],
  &.disabled {
    opacity: 0.4;
    &:hover {
      color: $text-color;
      background: $bg-color;
      .d-icon {
        color: $icon-color;
      }
    }
    cursor: not-allowed;
  }
}

.btn.hidden {
  display: none;
}

// Default button
// --------------------------------------------------

.btn {
  @include btn;
}

// Primary button
// --------------------------------------------------

.btn-primary {
  @include btn(
    // $text-color: $secondary,
    // $bg-color: $tertiary,
    // $icon-color: $secondary,
    // $hover-bg-color: darken($tertiary, 10%),
    // $hover-icon-color: $secondary
  );
}

// Danger button
// --------------------------------------------------

.btn-danger {
  @include btn(
    $text-color: $secondary,
    $bg-color: $danger,
    $icon-color: $danger-low,
    $hover-bg-color:
      dark-light-choose(
        scale-color($danger, $lightness: -20%),
        scale-color($danger, $lightness: 20%)
      ),
    $hover-icon-color: $danger-low
  );
  &:hover, &.btn-hover{
    color: $white !important;
  }
}

// post control button
nav.post-controls .actions{
  display: flex;
  align-items: center;
}
nav.post-controls{
  button:not(.like-count):not(.toggle-like):not(.btn-icon-text){
    @include flex
    padding: 0;
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
    border-radius: 50%;
    svg{
      margin-left: 2px;
    }
    &.d-hover, &:hover{
      color: $primary;
      background-color: $turquoise-light;
      svg{
        color: $primary;
      }
    }
  }

  button.btn-icon-text{
    @include flex;
    padding: 0 10px;
    min-height: 40px;
    border-radius: 200px;
    &.d-hover, &:hover{
      color: $primary;
      background-color: $turquoise-light;
      svg{
        color: $primary !important;
      }
    }
  }

  .double-button{
    border-radius: 200px;
    &:hover button{
      background-color: $turquoise-light;
    }
    button{
      &.button-count{
        border-radius: 200px 0 0 200px;
        & + .toggle-like{
          border-radius: 0 200px 200px 0;
          &:hover, &.d-hover{
            background-color: $turquoise-light;
          }
        }
      }
      &:only-child{
        @include flex
        padding: 0;
        height: 40px;
        width: 40px;
        flex: 0 0 40px;
        border-radius: 50%;
      }
    }
  }

}
