body{

  button.btn-default{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    min-height: 35px;
    min-width: 120px;
    border-radius: $global-radius;
    color: $primary;
    background-color: $turquoise-light;
    .d-icon{
      color: currentColor;
    }
    &:hover{
      background-color: darken($turquoise-light, 5%) !important;
      color: $primary !important;
      .d-icon{
        color: currentColor !important;
      }
    }
  }

}
