// nav-pills
// --------------------------------------------------

.nav-pills {
  > li {
    > a {
      // @include flex();
      color: $primary;
      background-color: $turquoise-light;
      border-radius: $global-radius;
      &:hover {
        color: $primary;
        background-color: darken($turquoise-light, 5%);
      }
    }
    a.active {
      color: $primary;
      background-color: darken($turquoise-light, 5%);
    }
  }
}

.admin-main-nav .nav-pills > li{
  margin-right: 5px;
  &:last-child{
    margin-right: 0;
  }
}


.topic-footer-main-buttons{
  @include flex(center, unset);
}

// badges
.badge-wrapper.bullet span.badge-category{
  color: $gray-dark;
}

// grippie
.open .grippie{
  background: $primary;
}

