// nav-pills
// --------------------------------------------------

.nav-pills {
  > li {
    > a {
      @include flex();
      color: $primary;
      background-color: $turquoise-light;
      border-radius: $global-radius;
      &:hover {
        color: $primary;
        background-color: darken($turquoise-light, 5%);
      }
    }
    a.active {
      color: $primary;
      background-color: darken($turquoise-light, 5%);
    }
  }
}

.topic-footer-main-buttons{
  @include flex(center, unset);
}

